#main_title{
    background-color: pink;
    text-align: center;
    padding: 20px;
    color: white;
}
.box1 h2{
    float: left;
    
}
.box1 button{
    float: right;
    font-weight: 800;
}
.container{
    margin-top: 50px;
}
h6{
    text-align: center;
    color: red;
    font-style: italic;
}